<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.nalart.ThroneGtk.helper</string>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>dev.nalart.ThroneGtk</string>
    </array>
    <key>BundleProgram</key>
    <string>Contents/MacOS/throne-gtk-core</string>
    <key>ProgramArguments</key>
    <array>
        <string>throne-gtk-core</string>
        <string>--helper</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
